.bg-blue-1 {
    background: #6ce5e8;
    color: #111;
}

.bg-blue-2 {
    background: #40b6d3;
    color: #111;
}

.bg-blue-3 {
    background: #2d8bba;
    color: #fff;
}

.bg-blue-4 {
    background: #2f5f98;
    color: #fff;
}

.bg-blue-5 {
    background: #31356e;
    color: #fff;
}

.txt-blue-1 {
    color: #6ce5e8;
}

.txt-blue-2 {
    color: #40b6d3;
}

.txt-blue-3 {
    color: #2d8bba;
}

.txt-blue-4 {
    color: #2f5f98;
}

.txt-blue-5 {
    color: #31356e;
}

.txt-grey-1 {
    color: #A3A3A3
}

.txt-grey-2 {
    color: #7A7A7A
}

.txt-grey-3 {
    color: #525252
}

.txt-grey-4 {
    color: #3D3D3D
}

.txt-grey-5 {
    color: #292929
}