body {
    font-family: 'Poppins', sans-serif;
    /* background: #f1f3f7; */
}

a {
    text-decoration: none;
}

.d-none {
    display: none;
}

.m-none {
    display: inline;
}

.center {
    text-align: center;
}

.card-main {
    padding: 1em 0;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    height: calc(100vh - 140px);
    overflow-y: auto;
}

.card {
    box-shadow: 2px 2px 5px #ddd;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.icon-menu {
    font-size: 60px;
}


/* DIVISÕES PRINCIPAIS */

.nav-topo,
.nav-lateral,
.conteudo {
    transition: width 1s ease, margin-left 1s ease;
}

.nav-topo {
    margin-left: 250px;
    padding: 10px 20px;
    width: calc(100% - 250px);
    background: #fff;
    z-index: 1000;
}

.nav-lateral {
    padding: 20px;
    height: 100vh;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 250px;
    z-index: 1001;
    overflow-y: auto;
    overflow-x: none;
}

.click-menu-mobile {
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    position: absolute;
}

.conteudo {
    padding: 20px;
    margin: 0 20px 20px 250px;
    width: calc(100% - 270px);
    z-index: 900;
    background: #f1f3f7;
    border-radius: 30px;
}


/* MENU */

ul li {
    padding: 0 7px;
}

ul i {
    font-size: 18px;
    font-weight: 900;
}

.nav-item {
    border-radius: 10px;
}

.nav-item:hover,
.nav-item li:hover,
.nav-item:hover i {
    background: #40b6d3;
    color: #fff !important;
}

.active,
.active i,
.active .txt-menu {
    background: #40b6d3;
    color: #fff !important;
}


/* MENU TOPO */

.nav-right {
    text-align: right;
    float: right;
    right: 20px;
    position: absolute;
}

.form-group {
    padding-top: 20px;
}

b {
    text-transform: uppercase;
}

.txt-small {
    font-size: 12px;
}

@media(max-width: 1000px) {
    .nav-topo,
    .conteudo {
        margin: 0px 20px 20px 20px;
        width: calc(100% - 40px);
    }
    .nav-lateral {
        /* position: absolute; */
        display: none;
    }
}